<h1>{{foundCube.name}}</h1>
<img class="cube"
  src="{{foundCube.imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{foundCube.description}} </p>
  <p><span>Difficulty level:</span> {{foundCube.difficultyLevel}}</p>
  <a class="btn" href="/">Back</a>
</div>